<!DOCTYPE html>
<html lang="es" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default" data-assets-path="{{ url_for('static', filename='assets/') }}" data-template="vertical-menu-template" data-style="light">
{% include 'Head.html' %}
<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            {% include 'Aside.html' %}
            {% include 'Preloader.html' %}
            <div class="layout-page">
                {% include 'NavBar.html' %}
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="card mb-6">
                            <div class="card-widget-separator-wrapper">
                                <div class="card-body card-widget-separator">
                                    <ul class="nav nav-tabs row gy-4 gy-sm-1" role="tablist">
                                        <li class="nav-item col-sm-6 col-lg-3">
                                            <button class="nav-link active d-flex justify-content-between align-items-start border-end pb-4 pb-sm-0" role="tab" data-bs-toggle="tab" data-bs-target="#CardEnEsperaListPedidos" aria-controls="CardEnEsperaListPedidos" aria-selected="false">
                                                <div>
                                                    <h4 class="mb-0" id="CardCountEnEsperaListPedidos">0</h4>
                                                    <p class="mb-0">EN ESPERA</p>
                                                </div>
                                                <span class="avatar p-2">
                                                <span class="avatar-initial bg-label-secondary rounded">
                                                    <i class="ti-26px ti ti-alert-octagon text-heading"></i>
                                                </span>
                                                </span>
                                            </button>
                                        </li>
                                        <li class="nav-item col-sm-6 col-lg-3">
                                            <button class="nav-link d-flex justify-content-between align-items-start border-end pb-4 pb-sm-0" role="tab" data-bs-toggle="tab" data-bs-target="#CardEnPreparacionListPedidos" aria-controls="CardEnPreparacionListPedidos" aria-selected="true">
                                                <div>
                                                    <h4 class="mb-0" id="CardCountEnPreparacionListPedidos">0</h4>
                                                    <p class="mb-0">EN PREPARACIÓN</p>
                                                </div>
                                                <span class="avatar me-sm-6">
                                                    <span class="avatar-initial bg-label-secondary rounded text-heading">
                                                        <i class="ti-26px ti ti-calendar-stats text-heading"></i>
                                                    </span>
                                                </span>
                                            </button>
                                        </li>
                                        <li class="nav-item col-sm-6 col-lg-3">
                                            <button class="nav-link d-flex justify-content-between align-items-start border-end pb-4 pb-sm-0" role="tab" data-bs-toggle="tab" data-bs-target="#CardEnCaminoListPedidos" aria-controls="CardEnCaminoListPedidos" aria-selected="false">
                                                <div>
                                                    <h4 class="mb-0" id="CardCountEnCaminoListPedidos">0</h4>
                                                    <p class="mb-0">EN CAMINO</p>
                                                </div>
                                                <span class="avatar p-2 me-lg-6">
                                                    <span class="avatar-initial bg-label-secondary rounded">
                                                        <i class="ti-26px ti ti-checks text-heading"></i>
                                                    </span>
                                                </span>
                                            </button>
                                        </li>
                                        <li class="nav-item col-sm-6 col-lg-3">
                                            <button class="nav-link d-flex justify-content-between align-items-start border-end pb-4 pb-sm-0" role="tab" data-bs-toggle="tab" data-bs-target="#CardEntregadoListPedidos" aria-controls="CardEntregadoListPedidos" aria-selected="false">
                                                <div>
                                                    <h4 class="mb-0" id="CardCountEntregadoListPedidos">0</h4>
                                                    <p class="mb-0">ENTREGADO</p>
                                                </div>
                                                <span class="avatar p-2 me-sm-6">
                                                <span class="avatar-initial bg-label-secondary rounded">
                                                    <i class="ti-26px ti ti-wallet text-heading"></i>
                                                </span>
                                                </span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="CardEnEsperaListPedidos" role="tabpanel">
                                <div class="card">
                                    <div class="card-datatable table-responsive" id="TableInitEnEsperaListPedidos">
                                        <table class="table border-top" id="TableEnEsperaListPedidos">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>PEDIDO</th>
                                                    <th>FECHA</th>
                                                    <th>CLIENTE</th>
                                                    <th>PAGO</th>
                                                    <th>ESTADO</th>
                                                    <th>MÉTODO</th>
                                                    <th>PRODUCTOS</th>
                                                    <th>ACCIONES</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="CardEnPreparacionListPedidos" role="tabpanel">
                                <div class="card">
                                    <div class="card-datatable table-responsive" id="TableInitEnPreparacionListPedidos">
                                        <table class="table border-top" id="TableEnPreparacionListPedidos">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>PEDIDO</th>
                                                    <th>FECHA</th>
                                                    <th>CLIENTE</th>
                                                    <th>PAGO</th>
                                                    <th>ESTADO</th>
                                                    <th>MÉTODO</th>
                                                    <th>PRODUCTOS</th>
                                                    <th>ACCIONES</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="CardEnCaminoListPedidos" role="tabpanel">
                                <div class="card">
                                    <div class="card-datatable table-responsive" id="TableInitEnCaminoListPedidos">
                                        <table class="table border-top" id="TableEnCaminoListPedidos">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>PEDIDO</th>
                                                    <th>FECHA</th>
                                                    <th>CLIENTE</th>
                                                    <th>PAGO</th>
                                                    <th>ESTADO</th>
                                                    <th>MÉTODO</th>
                                                    <th>PRODUCTOS</th>
                                                    <th>ACCIONES</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="CardEntregadoListPedidos" role="tabpanel">
                                <div class="card">
                                    <div class="card-datatable table-responsive" id="TableInitEntregadoListPedidos">
                                        <table class="table border-top" id="TableEntregadoListPedidos">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>PEDIDO</th>
                                                    <th>FECHA</th>
                                                    <th>CLIENTE</th>
                                                    <th>PAGO</th>
                                                    <th>ESTADO</th>
                                                    <th>MÉTODO</th>
                                                    <th>PRODUCTOS</th>
                                                    <th>ACCIONES</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include 'Footer.html' %}
                    <div class="content-backdrop fade"></div>
                </div>
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
        <div class="drag-target"></div>
    </div>
    {% include 'Script.html' %}
    <!-- <script src="{{ url_for('static', filename='assets/js/app-ecommerce-order-list.js') }}"></script> -->

    <script>
        //'use strict';
        var statusObj = {
                1: { title: 'CARRITO', class: 'bg-label-warning' },
                2: { title: 'REVISION', class: 'bg-label-warning' },
                3: { title: 'ESPERANDO PAGO', class: 'bg-label-warning' },
                4: { title: 'EN PREPARACION', class: 'bg-label-warning' },
                5: { title: 'EN CAMINO', class: 'bg-label-warning' },
                6: { title: 'ENTREGADO', class: 'bg-label-success' },
                7: { title: 'CANCELADO', class: 'bg-label-primary' },
                8: { title: 'RECHAZADO RES', class: 'bg-label-info' },
                9: { title: 'RECHAZADO CLI', class: 'bg-label-warning' }
            },
            paymentObj = {
                1: { title: 'Pagado', class: 'text-success' },
                2: { title: 'Pendiente', class: 'text-warning' },
                3: { title: 'Fallida', class: 'text-danger' },
                4: { title: 'Cancelada', class: 'text-secondary' }
            };

        const TableInitEnEsperaListPedidos = $("#TableInitEnEsperaListPedidos")[0].outerHTML.toString();
        const TableInitEnPreparacionListPedidos = $("#TableInitEnPreparacionListPedidos")[0].outerHTML.toString();
        const TableInitEnCaminoListPedidos = $("#TableInitEnCaminoListPedidos")[0].outerHTML.toString();
        const TableInitEntregadoListPedidos = $("#TableInitEntregadoListPedidos")[0].outerHTML.toString();

        function CreateTableAllState(TableAllStateListPedidos, AjaxUrlPedido, ButtonStateUpdate = undefined) {
            let borderColor, bodyBg, headingColor;
            if (isDarkStyle) {
                borderColor = config.colors_dark.borderColor;
                bodyBg = config.colors_dark.bodyBg;
                headingColor = config.colors_dark.headingColor;
            } else {
                borderColor = config.colors.borderColor;
                bodyBg = config.colors.bodyBg;
                headingColor = config.colors.headingColor;
            }
            if (TableAllStateListPedidos.length) {
                var dt_products = TableAllStateListPedidos.DataTable({
                    ajax: {
                        url: AjaxUrlPedido,
                        type: "POST",
                        beforeSend: function () {
                            $("#PreloaderAppicala").fadeIn();
                        },
                        complete: function () {
                            $("#PreloaderAppicala").fadeOut();
                        }
                    },
                    columns: [
                        { data: 'ID' },
                        { data: 'ID_PEDIDO' },
                        { data: 'FECHA_REGISTRO' },
                        { data: 'NOMBRE' },
                        { data: 'PAGADO' },
                        { data: 'ESTADO' },
                        { data: 'MÉTODO' },
                        { data: 'PRODUCTOS' },
                        { data: '' }
                    ],
                    columnDefs: [
                        {
                            className: 'control',
                            searchable: false,
                            orderable: false,
                            responsivePriority: 1,
                            targets: 0,
                            render: function (data, type, full, meta) {
                                return '';
                            }
                        },
                        {
                            targets: 1,
                            render: function (data, type, full, meta) {
                                var $order_id = full['ID_PEDIDO'];
                                var $row_output = `<a href="/ListarPedidosProductosCliente/${$order_id}/NumeroPedido"><span>#${$order_id}</span></a>`;
                                return $row_output;
                            }
                        },
                        {
                            targets: 2,
                            render: function (data, type, full, meta) {
                                var date = new Date(full.FECHA_REGISTRO);
                                var formattedDate = date.toLocaleDateString('es-ES', {
                                    month: 'short',
                                    day: 'numeric',
                                    year: 'numeric'
                                });
                                var formattedTime = date.toLocaleTimeString('es-ES', {
                                    hour: '2-digit',
                                    minute: '2-digit',
                                    hour12: true
                                });
                                return '<span class="text-nowrap">' + formattedDate + ', ' + formattedTime + '</span>';
                            }
                        },
                        {
                            targets: 3,
                            responsivePriority: 1,
                            render: function (data, type, full, meta) {
                                var $name = full['NOMBRE'],
                                    $email = full['EMAIL'],
                                    $avatar = full['AVATAR'];
                                if ($avatar) {
                                    var $output =
                                        '<img src="' + assetsPath + 'img/avatars/' + $avatar + '" alt="Avatar" class="rounded-circle">';
                                } else {
                                    // For Avatar badge
                                    var stateNum = Math.floor(Math.random() * 6);
                                    var states = ['success', 'danger', 'warning', 'info', 'dark', 'primary', 'secondary'];
                                    var $state = states[stateNum],
                                        $name = full['NOMBRE'],
                                        $initials = $name.match(/\b\w/g) || [];
                                    $initials = (($initials.shift() || '') + ($initials.pop() || '')).toUpperCase();
                                    $output = '<span class="avatar-initial rounded-circle bg-label-' + $state + '">' + $initials + '</span>';
                                }
                                // Creates full output for row
                                var $row_output =
                                    '<div class="d-flex justify-content-start align-items-center order-name text-nowrap">' +
                                    '<div class="avatar-wrapper">' +
                                    '<div class="avatar avatar-sm me-3">' +
                                    $output +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="d-flex flex-column">' +
                                    '<h6 class="m-0">' + $name +
                                    '</h6>' +
                                    '<small>' +
                                    $email +
                                    '</small>' +
                                    '</div>' +
                                    '</div>';
                                return $row_output;
                            }
                        },
                        {
                            targets: 4,
                            render: function (data, type, full, meta) {
                                var $payment = full['PAGADO'],
                                    paymentClassObj = paymentObj[$payment];
                                if (paymentClassObj) {
                                    return (
                                        '<h6 class="mb-0 align-items-center d-flex w-px-100 ' +
                                        paymentClassObj.class +
                                        '">' +
                                        '<i class="ti ti-circle-filled fs-tiny me-1"></i>' +
                                        paymentClassObj.title +
                                        '</h6>'
                                    );
                                }
                                return data;
                            }
                        },
                        {
                            targets: 5,
                            render: function (data, type, full, meta) {
                                var $PrecioTotal = full['TOTAL'];
                                return '<span class="text-nowrap">' + formatoMoneda($PrecioTotal) + '</span>';
                            }
                        },
                        {
                            targets: 6,
                            width: '90px',
                            render: function (data, type, full, meta) {
                                var $method = full['METODO'];
                                var $method_number = full['NUMERO'];

                                if ($method == 'paypal') {
                                    $method_number = '@gmail.com';
                                }
                                return (
                                    '<div class="d-flex align-items-center text-nowrap">' +
                                    '<img src="' +
                                    assetsPath +
                                    'img/icons/payments/' +
                                    $method +
                                    '.png" alt="' +
                                    $method +
                                    '" style="width: 80%;">' +
                                    '</div>'
                                );
                            }
                        },
                        {
                            targets: 7,
                            render: function (data, type, full, meta) {
                                var TotalProductos = full['TOTAL_PRODUCTOS'];
                                return '<span class="text-nowrap">' + TotalProductos + ' Items...</span>';
                            }
                        },
                        {
                            targets: 8,
                            title: 'Actions',
                            searchable: false,
                            orderable: false,
                            render: function (data, type, full, meta) {
                                if (ButtonStateUpdate != undefined) {
                                    return (
                                        '<div class="d-flex justify-content-sm-start align-items-sm-center">' +
                                            '<button class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ti ti-dots-vertical"></i></button>' +
                                            '<div class="dropdown-menu dropdown-menu-end m-0">' +
                                                `<button onclick="return UpdatePedidosStatusClienteInformation('${full['ID_PEDIDO']}', '${ButtonStateUpdate}')" class="dropdown-item">${ButtonStateUpdate}</button>` +
                                                //'<a href="app-ecommerce-order-details.html" class="dropdown-item">View</a>' +//'<a href="javascript:0;" class="dropdown-item delete-record">Delete</a>' +
                                            '</div>' +
                                        '</div>'
                                    );
                                } else {
                                    return "";
                                }
                            }
                        }
                    ],
                    order: [2, 'asc'],
                    dom:
                        '<"card-header py-0 d-flex flex-column flex-md-row align-items-center"<f><"d-flex align-items-center justify-content-md-end gap-2 justify-content-center"l<"dt-action-buttons"B>>' +
                        '>t' +
                        '<"row mx-1"' +
                        '<"col-sm-12 col-md-6"i>' +
                        '<"col-sm-12 col-md-6"p>' +
                        '>',
                    lengthMenu: [10, 40, 60, 80, 100],
                    language: {
                        sLengthMenu: '_MENU_',
                        search: '',
                        searchPlaceholder: 'Orden de búsqueda',
                        info: 'Mostrando _START_ a _END_ de _TOTAL_ entradas',
                        paginate: {
                            next: '<i class="ti ti-chevron-right ti-sm"></i>',
                            previous: '<i class="ti ti-chevron-left ti-sm"></i>'
                        }
                    },
                    buttons: [
                        {
                            extend: 'collection',
                            className: 'btn btn-label-secondary dropdown-toggle waves-effect waves-light',
                            text: '<i class="ti ti-upload ti-xs me-2"></i>Export',
                            buttons: [
                                {
                                    extend: 'print',
                                    text: '<i class="ti ti-printer me-2"></i>Print',
                                    className: 'dropdown-item',
                                    exportOptions: {
                                        columns: [1, 2, 3, 4, 5, 6],
                                        format: {
                                            body: function (inner, coldex, rowdex) {
                                                if (inner.length <= 0) return inner;
                                                var el = $.parseHTML(inner);
                                                var result = '';
                                                $.each(el, function (index, item) {
                                                    if (item.classList !== undefined && item.classList.contains('order-name')) {
                                                        result = result + item.lastChild.firstChild.textContent;
                                                    } else if (item.innerText === undefined) {
                                                        result = result + item.textContent;
                                                    } else result = result + item.innerText;
                                                });
                                                return result;
                                            }
                                        }
                                    },
                                    customize: function (win) {
                                        $(win.document.body)
                                            .css('color', headingColor)
                                            .css('border-color', borderColor)
                                            .css('background-color', bodyBg);
                                        $(win.document.body)
                                            .find('table')
                                            .addClass('compact')
                                            .css('color', 'inherit')
                                            .css('border-color', 'inherit')
                                            .css('background-color', 'inherit');
                                    }
                                },
                                {
                                    extend: 'csv',
                                    text: '<i class="ti ti-file me-2"></i>Csv',
                                    className: 'dropdown-item',
                                    exportOptions: {
                                        columns: [1, 2, 3, 4, 5, 6],
                                        format: {
                                            body: function (inner, coldex, rowdex) {
                                                if (inner.length <= 0) return inner;
                                                var el = $.parseHTML(inner);
                                                var result = '';
                                                $.each(el, function (index, item) {
                                                    if (item.classList !== undefined && item.classList.contains('order-name')) {
                                                        result = result + item.lastChild.firstChild.textContent;
                                                    } else if (item.innerText === undefined) {
                                                        result = result + item.textContent;
                                                    } else result = result + item.innerText;
                                                });
                                                return result;
                                            }
                                        }
                                    }
                                },
                                {
                                    extend: 'excel',
                                    text: '<i class="ti ti-file-export me-2"></i>Excel',
                                    className: 'dropdown-item',
                                    exportOptions: {
                                        columns: [1, 2, 3, 4, 5, 6],
                                        format: {
                                            body: function (inner, coldex, rowdex) {
                                                if (inner.length <= 0) return inner;
                                                var el = $.parseHTML(inner);
                                                var result = '';
                                                $.each(el, function (index, item) {
                                                    if (item.classList !== undefined && item.classList.contains('order-name')) {
                                                        result = result + item.lastChild.firstChild.textContent;
                                                    } else if (item.innerText === undefined) {
                                                        result = result + item.textContent;
                                                    } else result = result + item.innerText;
                                                });
                                                return result;
                                            }
                                        }
                                    }
                                },
                                {
                                    extend: 'pdf',
                                    text: '<i class="ti ti-file-text me-2"></i>Pdf',
                                    className: 'dropdown-item',
                                    exportOptions: {
                                        columns: [1, 2, 3, 4, 5, 6],
                                        format: {
                                            body: function (inner, coldex, rowdex) {
                                                if (inner.length <= 0) return inner;
                                                var el = $.parseHTML(inner);
                                                var result = '';
                                                $.each(el, function (index, item) {
                                                    if (item.classList !== undefined && item.classList.contains('order-name')) {
                                                        result = result + item.lastChild.firstChild.textContent;
                                                    } else if (item.innerText === undefined) {
                                                        result = result + item.textContent;
                                                    } else result = result + item.innerText;
                                                });
                                                return result;
                                            }
                                        }
                                    }
                                },
                                {
                                    extend: 'copy',
                                    text: '<i class="ti ti-copy me-2"></i>Copy',
                                    className: 'dropdown-item',
                                    exportOptions: {
                                        columns: [1, 2, 3, 4, 5, 6],
                                        format: {
                                            body: function (inner, coldex, rowdex) {
                                                if (inner.length <= 0) return inner;
                                                var el = $.parseHTML(inner);
                                                var result = '';
                                                $.each(el, function (index, item) {
                                                    if (item.classList !== undefined && item.classList.contains('order-name')) {
                                                        result = result + item.lastChild.firstChild.textContent;
                                                    } else if (item.innerText === undefined) {
                                                        result = result + item.textContent;
                                                    } else result = result + item.innerText;
                                                });
                                                return result;
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    ],
                    responsive: {
                        details: {
                            display: $.fn.dataTable.Responsive.display.modal({
                                header: function (row) {
                                    var data = row.data();
                                    return 'Details of ' + data['customer'];
                                }
                            }),
                            type: 'column',
                            renderer: function (api, rowIdx, columns) {
                                var data = $.map(columns, function (col, i) {
                                    return col.title !== ''
                                        ? '<tr data-dt-row="' +
                                        col.rowIndex +
                                        '" data-dt-column="' +
                                        col.columnIndex +
                                        '">' +
                                        '<td>' +
                                        col.title +
                                        ':' +
                                        '</td> ' +
                                        '<td>' +
                                        col.data +
                                        '</td>' +
                                        '</tr>'
                                        : '';
                                }).join('');
                                return data ? $('<table class="table"/><tbody />').append(data) : false;
                            }
                        }
                    }
                });
                $('.dataTables_length').addClass('ms-n2');
                $('.dt-action-buttons').addClass('pt-0');
                $('.dt-action-buttons').remove();
                $('.dataTables_filter').addClass('ms-n3 mb-0 mb-md-6');
            }
            setTimeout(() => {
                $('.dataTables_filter .form-control').removeClass('form-control-sm');
                $('.dataTables_length .form-select').removeClass('form-select-sm');
            }, 300);
        }

        function ListarCuentaPedidosStatusCliente() {
            $.ajax({
                url: "/ListarCuentaPedidosStatusCliente",
                type: "POST",
                data: {},
                success: function (ResponseCountPedido) {
                    if (ResponseCountPedido.Message === "Exito") {
                        if (ResponseCountPedido.Amount > 0){
                            ListaCountPedidos = ResponseCountPedido.Information;
                            for (let index = 0; index < ListaCountPedidos.length; index++) {
                                const ElementListaCountPedidos = ListaCountPedidos[index];
                                if (ElementListaCountPedidos.ESTADO_PEDIDO === "EN ESPERA"){
                                    $("#CardCountEnEsperaListPedidos").text(ElementListaCountPedidos.TOTAL_PEDIDOS);
                                } else if (ElementListaCountPedidos.ESTADO_PEDIDO === "EN PREPARACION"){
                                    $("#CardCountEnPreparacionListPedidos").text(ElementListaCountPedidos.TOTAL_PEDIDOS);
                                } else if (ElementListaCountPedidos.ESTADO_PEDIDO === "EN CAMINO"){
                                    $("#CardCountEnCaminoListPedidos").text(ElementListaCountPedidos.TOTAL_PEDIDOS);
                                } else if (ElementListaCountPedidos.ESTADO_PEDIDO === "ENTREGADO"){
                                    $("#CardCountEntregadoListPedidos").text(ElementListaCountPedidos.TOTAL_PEDIDOS);
                                }
                            }
                        }
                    }
                }
            });
        }

        function UpdatePedidosStatusClienteInformation(IdPedido, EstadoUpdate) {
            $.ajax({
                url: "/UpdatePedidosStatusClienteInformation",
                type: "POST",
                data: {
                    "IdPedidoClient": IdPedido,
                    "StatusPedidoClient": EstadoUpdate
                },
                beforeSend: function () {
                    $("#PreloaderAppicala").fadeIn();
                },
                complete: function () {
                    $("#PreloaderAppicala").fadeOut();
                },
                success: function (response) {
                    toastr.success("Se ha actualizado correctamente el estado del pedido");
                    CargarPedidosStatusClienteInformation();
                },
                error: function (error) {
                    toastr.error("Error al actualizar el estado del pedido");
                }
            });
        }

        function InitializeDataTableEnEspera() {
            // Variable declaration for table
            var TableEnEsperaListPedidos = $('#TableEnEsperaListPedidos');
            CreateTableAllState(TableEnEsperaListPedidos, "/ListarPedidosStatusClienteInformationEspera", "EN PREPARACION");

            $('#TableEnEsperaListPedidos tbody').on('click', '.delete-record', function () {
                dt_products.row($(this).parents('tr')).remove().draw();
            });
        }

        function InitializeDataTableEnPreparacion() {
            // Variable declaration for table
            var TableEnPreparacionListPedidos = $('#TableEnPreparacionListPedidos');
            CreateTableAllState(TableEnPreparacionListPedidos, "/ListarPedidosStatusClienteInformationPreparacion", "EN CAMINO");

            $('#TableEnPreparacionListPedidos tbody').on('click', '.delete-record', function () {
                dt_products.row($(this).parents('tr')).remove().draw();
            });
        }

        function InitializeDataTableEnCamino() {
            // Variable declaration for table
            var TableEnCaminoListPedidos = $('#TableEnCaminoListPedidos');
            CreateTableAllState(TableEnCaminoListPedidos, "/ListarPedidosStatusClienteInformationCamino", "ENTREGADO");

            $('#TableEnCaminoListPedidos tbody').on('click', '.delete-record', function () {
                dt_products.row($(this).parents('tr')).remove().draw();
            });
        }
        function InitializeDataTableEntregado() {
            // Variable declaration for table
            var TableEntregadoListPedidos = $('#TableEntregadoListPedidos');
            CreateTableAllState(TableEntregadoListPedidos, "/ListarPedidosStatusClienteInformationEntregado");

            $('#TableEntregadoListPedidos tbody').on('click', '.delete-record', function () {
                dt_products.row($(this).parents('tr')).remove().draw();
            });
        }

        function CargarPedidosStatusClienteInformation() {
            ListarCuentaPedidosStatusCliente();
            if ($('#CardEnEsperaListPedidos').hasClass('active')) {
                console.log("Entrando a Actualizar CardEnEsperaListPedidos");
                if ($.fn.DataTable.isDataTable('#TableEnEsperaListPedidos')) {
                    $('#TableEnEsperaListPedidos').DataTable().ajax.reload(null, false);
                } else {
                    InitializeDataTableEnEspera();
                }
            } else if ($('#CardEnPreparacionListPedidos').hasClass('active')) {
                console.log("Entrando a Actualizar CardEnPreparacionListPedidos");
                if ($.fn.DataTable.isDataTable('#TableEnPreparacionListPedidos')) {
                    $('#TableEnPreparacionListPedidos').DataTable().ajax.reload(null, false);
                } else {
                    InitializeDataTableEnPreparacion();
                }
            } else if ($('#CardEnCaminoListPedidos').hasClass('active')) {
                console.log("Entrando a Actualizar CardEnCaminoListPedidos");
                if ($.fn.DataTable.isDataTable('#TableEnCaminoListPedidos')) {
                    $('#TableEnCaminoListPedidos').DataTable().ajax.reload(null, false);
                } else {
                    InitializeDataTableEnCamino();
                }
            } else if ($('#CardEntregadoListPedidos').hasClass('active')) {
                console.log("Entrando a Actualizar CardEntregadoListPedidos");
                if ($.fn.DataTable.isDataTable('#TableEntregadoListPedidos')) {
                    $('#TableEntregadoListPedidos').DataTable().ajax.reload(null, false);
                } else {
                    InitializeDataTableEntregado();
                }
            }
        }

        $(function () {
            // Initialize DataTable if the tab is active on page load
            CargarPedidosStatusClienteInformation();
            // Initialize DataTable when the tab is shown
            $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
                if (e.target.getAttribute('data-bs-target') === '#CardEnEsperaListPedidos') {
                    if ($.fn.DataTable.isDataTable('#TableEnEsperaListPedidos')) {
                        $('#TableEnEsperaListPedidos').DataTable().ajax.reload(null, false);
                    } else {
                        InitializeDataTableEnEspera();
                    }
                } else if (e.target.getAttribute('data-bs-target') === '#CardEnPreparacionListPedidos') {
                    if ($.fn.DataTable.isDataTable('#TableEnPreparacionListPedidos')) {
                        $('#TableEnPreparacionListPedidos').DataTable().ajax.reload(null, false);
                    } else {
                        InitializeDataTableEnPreparacion();
                    }
                } else if (e.target.getAttribute('data-bs-target') === '#CardEnCaminoListPedidos') {
                    if ($.fn.DataTable.isDataTable('#TableEnCaminoListPedidos')) {
                        $('#TableEnCaminoListPedidos').DataTable().ajax.reload(null, false);
                    } else {
                        InitializeDataTableEnCamino();
                    }
                } else if (e.target.getAttribute('data-bs-target') === '#CardEntregadoListPedidos') {
                    if ($.fn.DataTable.isDataTable('#TableEntregadoListPedidos')) {
                        $('#TableEntregadoListPedidos').DataTable().ajax.reload(null, false);
                    } else {
                        InitializeDataTableEntregado();
                    }
                }
            });
        });
    </script>
</body>
</html>